/*HERO.CSS */
.hero {
  background-image: url('/hero.png');
  background-position: center;
  background-size: cover;
  border-radius: 70px;
  height: 708px;
  padding: 50px;
}

.hero h1 {
  font-size: 4rem;
  line-height: 125%;
}
.hero p {
  font-size: 1.5rem;
}
.hero-text {
  width: 40%;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    border-radius: 20px;
    padding: 30px;
  }
  .hero-text {
    width: 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
}

@media (max-width: 568) {
  .hero {
    height: auto;
    border-radius: 20px;
    padding: 20px;
  }
  .hero-text {
    width: 100%;
  }
  .hero h1 {
    font-size: 28px;
  }
}
