header .header-nav {
  display: flex;
}

header .header-nav a {
  color: #1d1d1d;
  font-size: 20px;
  text-decoration: none;
  margin: 0 0 0 50px;
}

header .header-nav a:hover {
  color: #0c70f2;
}
/* Remove o marcador de todos os <li> dentro de um <ul> */
ul li::marker {
  content: none;
}
.mobile-menu,
.close-btn {
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

@media (max-width: 768px){
  .header-content {
    padding: 10px 0;
  }
}

/*
* ESTILIZAÇÃO DO MENU EM DESKTOP (EXISTENTE, APENAS CLAREZA)
*/
header .header-nav {
  display: flex;
}
@media (max-width: 768px) {
  header .header-nav {
    display: none;
    background-color: #1d1d1d;
    border-left: 10px solid #333;
    flex-direction: column;
    height: 100vh;
    padding: 37px;
    position: fixed;
    right: 0;
    top: 0;
    width: 70vw;
    max-width: 300px;
    z-index: 9999;
    box-shadow: -100vw 0 0 0 rgba(0, 0, 0, 0.75);
  }

  header .header-nav.open {
    display: flex;
    align-items: flex-end;
  }

  header .header-nav ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  header .header-nav ul li {
    display: flex;
    list-style: none;
  }

  header .header-nav a {
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 12px;
    text-decoration: none;
    width: 100%;
  }

  header .header-nav a:hover {
    color: #0c70f2;
  }

  .mobile-menu {
    display: flex;
    z-index: 100;
  }

  .close-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
    margin: 0 0 12px;
    padding: 12px;
    width: fit-content;
  }
  
  .close-btn:hover {
    color: #0c70f2;
  }
}
